@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
    
<p>
    This application uses the MVC pattern.
    The platform is ASP. net core
    To use the functions of the application, you must register.
    Authorization takes place on the basis of cookies.
    The application simulates a recipe viewing system for cooking.
    Possible Actions:
    1. Add a dish
    2. Remove the dish
    3. Filter by name
    4. Filter by category.
    To work with the database uses EF and the principle of "code first"
</p>
